In [5]:
name="Anjali"
eng=95
hin=90
math=90
sci=87
sst=85

In [6]:
print((eng+hin+math+sci+sst)/4)

111.75

In [7]:
names=[]

In [8]:
names.append("Anjali")

In [9]:
names

['Anjali']

In [10]:
names.append("Ayushi")

In [11]:
names

['Anjali', 'Ayushi']

In [13]:
names_of_students=int(input("Enter the names of students: "))

for i in range(names_of_students):
    name=input("Enter the name of student: ")
    names.append(name)
    print(name)

Enter the names of students: 5
Enter the name of student: anjali
anjali
Enter the name of student: ayushi
ayushi
Enter the name of student: ashu
ashu
Enter the name of student: aditya
aditya
Enter the name of student: himani
himani

In [15]:
names

['Anjali', 'Ayushi', 'anjali', 'ayushi', 'ashu', 'aditya', 'himani']